.mint-history {
  margin-top: 1.5rem;
}

.mint-history h1 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.mint-item {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}
