.mint-history {
  padding: 0;
}

.mint-list {
  padding: 0 1rem;
  overflow-y: auto;
  max-height: 10ch;
}

.mint-history h1 {
  font-size: 1.5rem;
  padding: 0.75rem 0.75rem 0 0.75rem;
  margin-bottom: 1rem;
  background: var(--neutral-color-150);
  border-radius: 1rem;
  position: sticky;
  top: 0;
}

.mint-item {
  margin-bottom: 0.75rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}
