@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --brand-color-100: hsl(47, 10%, 100%);
  --brand-color-200: hsl(47, 30%, 90%);
  --brand-color-300: hsl(47, 30%, 80%);
  --brand-color-400: hsl(47, 40%, 75%);
  --brand-color-500: hsl(47, 50%, 55%);
  --brand-color-600: hsl(47, 55%, 45%);
  --brand-color-700: hsl(47, 60%, 35%);
  --brand-color-800: hsl(47, 70%, 25%);
  --brand-color-900: hsl(47, 80%, 15%);

  --neutral-color-100: hsl(0, 0%, 100%);
  --neutral-color-150: hsl(0, 0%, 98%);
  --neutral-color-200: hsl(0, 0%, 90%);
  --neutral-color-300: hsl(0, 0%, 69%);
  --neutral-color-400: hsl(0, 0%, 66%);
  --neutral-color-500: hsl(0, 0%, 59%);
  --neutral-color-600: hsl(0, 0%, 36%);
  --neutral-color-700: hsl(0, 0%, 25%);
  --neutral-color-800: hsl(0, 0%, 16%);
  --neutral-color-900: hsl(0, 0%, 8%);

  --success-color-100: hsl(123, 100%, 97%);
  --success-color-200: hsl(123, 64%, 91%);
  --success-color-300: hsl(123, 63%, 84%);
  --success-color-400: hsl(123, 59%, 75%);
  --success-color-500: hsl(123, 56%, 64%);
  --success-color-600: hsl(123, 48%, 50%);
  --success-color-700: hsl(123, 60%, 37%);
  --success-color-800: hsl(123, 74%, 25%);
  --success-color-900: hsl(123, 92%, 15%);

  --warning-color-100: hsl(41, 100%, 97%);
  --warning-color-200: hsl(41, 64%, 91%);
  --warning-color-300: hsl(41, 63%, 84%);
  --warning-color-400: hsl(41, 59%, 75%);
  --warning-color-500: hwb(41 44% 16%);
  --warning-color-600: hsl(41, 48%, 50%);
  --warning-color-700: hsl(41, 60%, 37%);
  --warning-color-800: hsl(41, 74%, 25%);
  --warning-color-900: hsl(41, 92%, 15%);

  --danger-color-100: hsl(4, 100%, 97%);
  --danger-color-200: hsl(4, 64%, 91%);
  --danger-color-300: hsl(4, 63%, 84%);
  --danger-color-400: hsl(4, 59%, 75%);
  --danger-color-500: hsl(4, 56%, 64%);
  --danger-color-600: hsl(4, 48%, 50%);
  --danger-color-700: hsl(4, 60%, 37%);
  --danger-color-800: hsl(4, 74%, 25%);
  --danger-color-900: hsl(4, 92%, 15%);

  --neutral-msg-color-100: hsl(222, 100%, 97%);
  --neutral-msg-color-200: hsl(223, 64%, 91%);
  --neutral-msg-color-300: hsl(222, 63%, 84%);
  --neutral-msg-color-400: hsl(223, 59%, 75%);
  --neutral-msg-color-500: hsl(223, 56%, 64%);
  --neutral-msg-color-600: hsl(223, 48%, 50%);
  --neutral-msg-color-700: hsl(223, 60%, 37%);
  --neutral-msg-color-800: hsl(223, 74%, 25%);
  --neutral-msg-color-900: hsl(223, 92%, 15%);

  background-color: var(--neutral-color-100);

  --page-width-mobile: 95%;
  --page-width-desktop: 90%;
  --border-radius-lg-screen: 1rem;
  --border-radius-sm-screen: 0.5rem;

  --box-shadow-1: 0 4px 8px rgba(0, 0, 0, 0.2);
  --box-shadow-2: 0 0.25rem 1rem rgb(0 0 0 / 0.15);
  --box-shadow-3: 0 1px 3px rgba(0, 0, 0, 0.1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-theme='dark'] {
  --primary-font-color: #f0f0f0;
  --background-color: #2f2f2f;
  --link-color: #8fbc8f;
  --cta-color: #ffa07a;
  --cta-hover-color: #ff7f50;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  height: 100%;
  color: var(--brand-color-900);
  scroll-behavior: smooth;
}

body {
  color: var(--brand-color-900);
  position: relative;
  height: 100%;
  margin: 0;
  font-size: 1rem;
  line-height: 1.2;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--brand-color-500);
  transition: all 200ms linear;
  margin: 0;
  min-width: fit-content;
}

a:hover,
a:focus {
  color: var(--brand-color-600);
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: var(--brand-color-800);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: 2.125rem;
}

p {
  font-size: 1rem;
  color: var(--brand-color-900);
}

button {
  cursor: pointer;
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
  user-select: none;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--neutral-color-100);
}

::-webkit-scrollbar-thumb {
  background-color: var(--neutral-color-300);
  border-radius: 4px;
  cursor: pointer;
}
