.btn {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: fit-content;
}

.primary {
  background-color: var(--brand-color-500);
  color: var(--neutral-color-100);
}

.primary:hover {
  background-color: var(--brand-color-700);
}

[data-theme='dark'] .primary:hover {
  background-color: var(--brand-color-400);
}

.secondary {
  background-color: var(--neutral-color-400);
  color: var(--neutral-color-100);
}

.secondary:hover {
  background-color: var(--neutral-color-500);
}

.danger {
  background-color: var(--danger-color-600);
  color: var(--neutral-color-100);
}

.danger:hover {
  background-color: var(--danger-color-700);
}

.link {
  background: none;
  color: var(--neutral-msg-color-600);
  text-decoration: underline;
  border: none;
}

.link:hover {
  color: var(--neutral-msg-color-700);
}

.loading {
  opacity: 0.7;
  cursor: not-allowed;
}

.btn:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

@media screen and (min-width: 880px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
