.card {
  padding: 1rem;
  border-radius: var(--border-radius-sm-screen);
  box-shadow: var(--box-shadow-3);
  background-color: var(--neutral-color-150);
  border: 1px solid var(--neutral-color-200);
  transition: box-shadow 0.3s ease;
}

@media screen and (min-width: 880px) {
  .card {
    border-radius: var(--border-radius-lg-screen);
  }
}
