.container {
  width: 95%;
  margin: 0.5rem auto;
}

.navigation {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

.logo {
  border-radius: 0.5rem;
}

.logo > p {
  width: 100%;
  background: linear-gradient(45deg, var(--primary-font-color), #f1ff55);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 11px;
  transition: transform 0.3s ease;
  padding: 0.75rem 0.5rem 0 0.5rem;
}

.logo small {
  font-size: 0.75rem;
  letter-spacing: 0.4em;
  margin-left: 0.5rem;
}

.connect-btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 880px) {
  .container {
    margin: 2rem auto;
  }

  .connect-btn button:last-child {
    margin-left: 3rem;
  }
}
