.buy-tokens {
  background: var(--neutral-color-150);
}

.select-area {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.select-btn {
  background: var(--neutral-color-200);
  border: 1px solid var(--neutral-color-300);
  color: var(--brand-color-800);
  box-shadow: var(--box-shadow-3);
  min-width: 6rem;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.select-btn p {
  color: var(--brand-color-800);
  font-size: clamp(0.75rem, 3vw, 1rem);
}

.select-input {
  width: 180px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 0;
  border: none;
  background: var(--neutral-color-150);
  color: var(--brand-color-800);
  text-align: right;
  outline: none;
  -moz-appearance: textfield;
}

.select-input::-webkit-inner-spin-button,
.select-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select-input::placeholder {
  color: var(--neutral-color-300);
  opacity: 1;
}

.submit-btn {
  width: 100%;
}
