.modal-backdrop {
  max-width: 50ch;
  border: none;
  padding: 0;
  background: var(--primary-color);
  color: var(--primary-font-color);
  padding: 2rem;
  border-radius: var(--border-radius-sm-screen);
  box-shadow: var(--box-shadow-3);
}

.modal-backdrop::backdrop {
  backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.8);
}
